@require 'hire-faceted-search';
@require 'result';
@import url("http://fonts.googleapis.com/css?family=Merriweather\+Sans:300,300italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Bree\+Serif");
@require 'mixins';

html, body
	background-color #fff
	font-family sans-serif
	font-size 16px
	margin 0
	padding 0
	font-family 'Merriweather Sans', sans-serif
	font-weight 300
	line-height 1.5em
	color #333

html 
	box-sizing border-box

*, *:before, *:after 
	box-sizing inherit

ul
	list-style none
	margin 0
	padding 0

a
	cursor pointer
	display inline-block
	color #333
	text-decoration none


a:hover
	border-bottom 1px dotted rgb(0,105,140);

.app,
.hire-faceted-search
	max-width 1400px
	margin 0 auto
	padding-left 30px
	padding-right 30px

h1 
	font-size 16px

.app > div > header
	padding 10px 0
	height 90px	

.app > div > header img
	float right

.hire-login button
	button(4px)

.hire-login button.toggle-opened
	display none

.hire-login button[type='submit']
	width 120px
	
.hire-login .login-form
	position static
	display inline-block
