button(n)
	height n * 9
	font-size n * 3
	cursor pointer
	display inline-block
	background-color #eee
	border-radius n
	padding n * 2 n * 2
	margin-right n * 3
	margin-bottom n * 4
	outline medium none
	border medium none
	border 1px solid #eee
	&:hover
		border 1px solid rgb(180,180,180)


input()
	-webkit-appearance: none;
	border 1px solid rgb(221,221,221)
	border-radius 4px 
	background-color #fff
	float left
	padding-left 20px
	width 100%